<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <Component Id="Files" Guid="7F86CF94-2941-4421-8A47-E07CB3D1D1DD">
        <CreateFolder/>
        <RemoveFolder Id="RemoveAppRootDirectory" On="uninstall" />
        <File Id="fil9vixDJf2hHDP.AuR_bLWKPn72fQ" KeyPath="yes" Source="..\PowerStageAddin\bin\$(var.PowerStageAddin.Platform)\$(var.PowerStageAddin.Configuration)\PowerStageAddin.dll" />
        <File Source="..\PowerStageAddin\bin\$(var.PowerStageAddin.Platform)\$(var.PowerStageAddin.Configuration)\GalaSoft.MvvmLight.dll" />
        <File Source="..\PowerStageAddin\bin\$(var.PowerStageAddin.Platform)\$(var.PowerStageAddin.Configuration)\GalaSoft.MvvmLight.Extras.dll" />
        <File Source="..\PowerStageAddin\bin\$(var.PowerStageAddin.Platform)\$(var.PowerStageAddin.Configuration)\Microsoft.Practices.ServiceLocation.dll" />
        <File Source="..\PowerStageAddin\bin\$(var.PowerStageAddin.Platform)\$(var.PowerStageAddin.Configuration)\NetOffice.dll" />
        <File Source="..\PowerStageAddin\bin\$(var.PowerStageAddin.Platform)\$(var.PowerStageAddin.Configuration)\OfficeApi.dll" />
        <File Source="..\PowerStageAddin\bin\$(var.PowerStageAddin.Platform)\$(var.PowerStageAddin.Configuration)\PowerPointApi.dll" />
        <File Source="..\PowerStageAddin\bin\$(var.PowerStageAddin.Platform)\$(var.PowerStageAddin.Configuration)\stdole.dll" />
        <File Source="..\PowerStageAddin\bin\$(var.PowerStageAddin.Platform)\$(var.PowerStageAddin.Configuration)\System.Windows.Interactivity.dll" />
        <File Source="..\PowerStageAddin\bin\$(var.PowerStageAddin.Platform)\$(var.PowerStageAddin.Configuration)\VBIDEApi.dll" />
        
        <!-- TODO: Ensure that these registry keys are deleted (by default in WiX v4) on uninstall! -->
        <RegistryKey Key="Software\Microsoft\Office\PowerPoint\Addins\PowerStageAddin.Connect" Root="HKLM">
          <RegistryValue Name="Description"
                         Value="PowerStage - Stage displays for PowerPoint BETA. Uninstall this Add-In through Add\Remove Programs."
                         Type="string" />
          <RegistryValue Name="FriendlyName"
                         Value="PowerStage - Stage displays for PowerPoint BETA"
                         Type="string" />
          <!-- "Load on (PowerPoint) startup" == LoadBehaviour mode "3" -->
          <RegistryValue Name="LoadBehavior"
                         Value="3"
                         Type="integer" />
        </RegistryKey>
        
        <!-- DLL registration here, instead of regsvr32 in the DLL itself
             This is generated by running
                        heat.exe file PowerStageAddin.dll -o "out.wxs"
             then pasting the result here
             Note - heat.exe doesn't currently process x64 DLL's, but same result anyway if x86 DLL used -->
        <Class Id="{E8786E8A-3AC7-44C7-8BFE-BD1CE21EDCC6}" Context="InprocServer32" Description="PowerStageAddin.Connect" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="PowerStageAddin.Connect" Description="PowerStageAddin.Connect" />
        </Class>
        <RegistryValue Root="HKCR" Key="CLSID\{E8786E8A-3AC7-44C7-8BFE-BD1CE21EDCC6}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{E8786E8A-3AC7-44C7-8BFE-BD1CE21EDCC6}\InprocServer32\1.0.0.0" Name="Class" Value="PowerStageAddin.Connect" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{E8786E8A-3AC7-44C7-8BFE-BD1CE21EDCC6}\InprocServer32\1.0.0.0" Name="Assembly" Value="PowerStageAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{E8786E8A-3AC7-44C7-8BFE-BD1CE21EDCC6}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{E8786E8A-3AC7-44C7-8BFE-BD1CE21EDCC6}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil9vixDJf2hHDP.AuR_bLWKPn72fQ]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{E8786E8A-3AC7-44C7-8BFE-BD1CE21EDCC6}\InprocServer32" Name="Class" Value="PowerStageAddin.Connect" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{E8786E8A-3AC7-44C7-8BFE-BD1CE21EDCC6}\InprocServer32" Name="Assembly" Value="PowerStageAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{E8786E8A-3AC7-44C7-8BFE-BD1CE21EDCC6}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{E8786E8A-3AC7-44C7-8BFE-BD1CE21EDCC6}\InprocServer32" Name="CodeBase" Value="file:///[#fil9vixDJf2hHDP.AuR_bLWKPn72fQ]" Type="string" Action="write" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>